.mochi {
    .container {
        @include center;
        flex-direction: column;

        h2 {
            margin: 50px auto 0;
            font-size: 2.5rem;
            color: $color1;
        }

        .cat6 {
            width: 60%;
            margin: 30px auto 50px;

            @media screen and (max-width: 700px) {
                width: 80%;
            }
            @media screen and (max-width: 425px) {
                width: 90%;
            }
            @media screen and (max-width: 380px) {
                width: 100%;
            }

            .img-cat6 {
                width: 400px;
                height: 400px;
                margin: 20px auto;
                background: url(../../assets/img/cats-page/chat6.png) center/cover;

                @media screen and (max-width: 530px) {
                    width: 350px;
                }
                @media screen and (max-width: 465px) {
                    width: 320px;
                    background: url(../../assets/img/cats-page/chat6.png) left/cover;
                }
                @media screen and (max-width: 350px) {
                    width: 250px;
                    height: 150px;
                    background: url(../../assets/img/page-individuelle/chat6-responsive.png) center/cover;
                }
                @media screen and (max-width: 275px) {
                    width: 220px;
                }
            }
            p {
                text-align: justify;
                margin: 30px auto;

                @media screen and (max-width: 380px) {
                    width: 90%;
                    margin: auto;
                }
                @media screen and (max-width: 350px) {
                    font-size: 0.9rem;
                    width: 80%;
                    margin: 20px auto;
                }
            }
        }

        .container-links {
            width: 100%;
            position: relative;

            .container-previous,
            .container-next {
                position: absolute;
                margin: 0 20px 10px;

                p {
                    color: $color1;
                    font-weight: bold;
                    letter-spacing: 1.1px;
                    font-size: 1.1rem;
                    text-decoration: underline;
                    transition: 0.5s;

                    @media screen and (max-width: 300px) {
                        font-size: 0.9rem;
                    }

                    &:hover {
                        color: $color2;
                    }
                }
            }
            .container-previous {
                left: 0;
                bottom: 0;
            }
            .container-next {
                right: 0;
                bottom: 0;
            }
        }
    }
}
