.services {
    h2 {
        text-align: center;
        font-size: 2rem;
        margin: 50px auto;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        margin: 20px 20px 50px;
        align-items: center;
        grid-gap: 30px;

        @media screen and (max-width: 420px) {
            margin: 0;
        }

        .section1-save, .section2-protect, .section3-adopt {
            margin: 0;

            @media screen and (max-width: 420px) {
                margin: 0;
            }
            @media screen and (max-width: 375px) {
               width: 90%;
               margin: auto;
            }
            @media screen and (max-width: 360px) {
               width: 80%;
               margin: auto;
            }
            @media screen and (max-width: 345px) {
               margin: 0;
               width: 75%;
            }
            @media screen and (max-width: 300px) {
               margin: 0;
               width: 65%;
            }
            

            h3 {
                text-align: center;
                text-decoration: underline;
                color: $color1;
                margin: 15px auto 50px;
                font-size: 1.5rem;

                @media screen and (max-width: 345px) {
                    text-align: left;
                    margin: 20px;
                 }
            }
            p{
                margin: 20px 5px;
                text-align: justify;
                font-size: .9rem;
                line-height: 20px;

                @media screen and (max-width: 420px) {
                    width: 85%;
                    margin: 20px auto;
                }
                @media screen and (max-width: 375px) {
                    width: 75%;
                }
                @media screen and (max-width: 360px) {
                    width: 80%;
                }
                @media screen and (max-width: 345px) {
                    width: 80%;
                    margin-left: 20px;
                    font-size: .8rem;
                }
            }
        }
        .img-save, .img-protect, .img-adopt {
            width: 100%;
            height: 400px;
            margin: auto;

            @media screen and (max-width: 420px) {
                width: 85%;
            }
            @media screen and (max-width: 375px) {
                height: 350px;
                width: 80%;
            }
            @media screen and (max-width: 360px) {
                height: 350px;
                width: 90%;
            }
            @media screen and (max-width: 345px) {
                display: none;
            }
            
        }
        .img-save {
            background: url(../../assets/img/services/save.jpg) center/cover;
        }
        .img-protect {
            background: url(../../assets/img/services/protect.jpg) center/cover;

            @media screen and (max-width: 275px) {
                background: url(../../assets/img/services/protect.jpg) left/cover;
            }
        }
        .img-adopt {
            background: url(../../assets/img/services/adopt.jpg) center/cover;
        }
    }
}